In [111]:
import pandas as pd 
import pickle
from pre_processing import pre_processing

In [80]:
with open('df_preprocessed_1.sav', 'rb') as f:
   tweet_processed = pickle.load(f)

with open('df_preprocessed_2.sav', 'rb') as f:
   content_processed = pickle.load(f)

In [112]:
df_worry_1 = pd.read_csv('../dataset/worry_df.csv', delimiter='\t', header=None, names=['id', 'tweet', 'sentiment', 'value'])

In [113]:
df_worry_2 = pd.read_csv('../dataset/worry_df_2.csv', delimiter='\t', header=None, names=['id', 'tweet', 'sentiment', 'value'])

In [83]:
df_love = pd.read_csv('../dataset/love.csv')
df_love = df_love[df_love['language'] == 'en']
df_love = df_love.loc[:,['tweet']]
df_love['sentiment'] = 'love'
df_love

                                                   tweet sentiment
0      @noblebIack maribel: a girl that is sweet and ...      love
1        @james_blue_cat Loving the his and his handbag.      love
2      Loving #treatyouright by @thejunglegiants righ...      love
4      Happy Birthday Fabulous Shaun Wallace. Brillia...      love
5      We are loving this beautiful sunshine. My OM10...      love
...                                                  ...       ...
19995        @EricNewcomer Loving this European coverage      love
19996  Are you loving Chainsaw Man? Comment below wit...      love
19997  Happy #Oscars Week! Will NEVER stop loving thi...      love
19998  @shonasongs @MaryBlackSinger Ah the great Noel...      love
19999  @LeslieKMercer1 @TheDoobieBros we so need to c...      love

[19693 rows x 2 columns]

In [84]:
df_sad = pd.read_csv('../dataset/sad.csv')
df_sad = df_sad[df_sad['language'] == 'en']
df_sad = df_sad.loc[:,['tweet']]
df_sad['sentiment'] = 'sadness'
df_sad

                                                   tweet sentiment
0      We're sad to update that a body has been found...   sadness
1           Sad news to report   https://t.co/giZcBKSNly   sadness
2      @PChrisDavid They were desperate for it to kic...   sadness
4      @SPAJournalism Aww shucks guys, thank you! Sad...   sadness
5      This is incredibly sad, and frustrating. The Q...   sadness
...                                                  ...       ...
19995  User centered reporting delights me every time...   sadness
19996  Remember this one time the lowly #Rockies were...   sadness
19997                 @JudgyJoodz I'm more sad than mad.   sadness
19998  Help I just went into Ample Hills sobbing and ...   sadness
19999  Deepest condolences on the sad demise of Times...   sadness

[18118 rows x 2 columns]

In [90]:
df_worry = pd.read_csv('../dataset/worry.csv')
df_worry = df_worry[df_worry['language'] == 'en']
df_worry = df_worry.loc[:,['tweet']]
df_worry['sentiment'] = 'worry'
df_worry

C:\Users\domy-\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (9) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

                                                   tweet sentiment
0      Deep breaths, staying active and getting outsi...     worry
1      #KaranMehra- #NishaRawal Case: While #ManveerG...     worry
2      THE PRESSURE IS ON FLOYDðŸ˜‰  The Maverick isn't ...     worry
3      â€œOfficials are worried about fleeting contact ...     worry
4      The Victorian Government is worried about a ne...     worry
...                                                  ...       ...
19995  'Iâ€™m worried we now risk turning the clock bac...     worry
19996  Worried about people who need to be out and ab...     worry
19997  Bulldog? I really think they are having a dig....     worry
19998  @MZanona @SenatorSinema whereâ€™s this shot take...     worry
19999  How worried should we be about new variants fo...     worry

[19967 rows x 2 columns]

In [86]:
df_happy = pd.read_csv('../dataset/happy.csv')
df_happy = df_happy[df_happy['language'] == 'en']
df_happy = df_happy.loc[:,['tweet']]
df_happy['sentiment'] = 'happiness'
df_happy

                                                   tweet  sentiment
0      Happy birthday  #SonakshiSinha keep rocking !!...  happiness
1      Exhibitions are more important than ever! We w...  happiness
2      @JeevanK28113885 Hi there, we're sorry to hear...  happiness
3      @Lexosborne44 Hi Lexie, happy to help. Please ...  happiness
5      @justneil Hi Neil, Please can you pop over a D...  happiness
...                                                  ...        ...
19994  Absolute legends. Happy #WorldMilkDay to our a...  happiness
19995  @Lucy_K_Author Happy paperback publication day...  happiness
19996  Happy Birthday @Normani! ðŸ‘‘ Practicing this tod...  happiness
19997  @orIandorafael Good afternoon. I apologize for...  happiness
19999              @Dorianlynskey Happy birthday Dorian!  happiness

[18631 rows x 2 columns]

In [125]:
df_neutral = pd.read_csv('../dataset/neutral.csv')
df_neutral = df_neutral[df_neutral['language'] == 'en']
df_neutral = df_neutral.loc[:,['tweet']]
df_neutral['sentiment'] = 'neutral'
df_neutral

                                                   tweet sentiment
0      'When this hot, hermetic noise coming from fou...   neutral
1      Only 30% of everyday Nigerians are dissatisfie...   neutral
2      â€œAn aware and assertive citizenry, in contradi...   neutral
3      I think most people are good people. Not in th...   neutral
4      The eyes on the street supposedly failed Genov...   neutral
...                                                  ...       ...
19995  *shares indifferent Eminem opinion*  https://t...   neutral
19996  @RealAlexCerone @BWildeRecrutes This. Bad mana...   neutral
19997  @jmjones The best part was the confused/indiff...   neutral
19998  @DrewChamplin @TimbersFC @MLS @LAGalaxy Ah. Th...   neutral
19999  Reaction in #Patriots locker room to Roger Goo...   neutral

[18252 rows x 2 columns]

In [114]:
df_worry_1 = df_worry_1.loc[:,['tweet', 'sentiment']]

In [92]:
df_worry_2 = df_worry_2.loc[:,['tweet', 'sentiment']]

In [93]:
tweets = pre_processing(list(df_worry['tweet']))

Processing tweets:: 100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 19967/19967 [00:03<00:00, 5484.47it/s]
word tokenize process: 100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 19967/19967 [25:42<00:00, 12.95it/s]
Remove stop word: 100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 19967/19967 [00:12<00:00, 1604.66it/s]

In [94]:
tweets_2 = pre_processing(list(df_worry_2['tweet']))

Processing tweets:: 100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 995/995 [00:00<00:00, 6953.16it/s]
word tokenize process: 100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 995/995 [00:55<00:00, 17.82it/s]
Remove stop word: 100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 995/995 [00:00<00:00, 1737.91it/s]

In [95]:
tweets_3 = pre_processing(list(df_love['tweet']))

Processing tweets:: 100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 19693/19693 [00:03<00:00, 6104.77it/s]
word tokenize process: 100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 19693/19693 [21:53<00:00, 14.99it/s]
Remove stop word: 100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 19693/19693 [00:11<00:00, 1664.92it/s]

In [96]:
tweets_4 = pre_processing(list(df_sad['tweet']))

Processing tweets:: 100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 18118/18118 [00:02<00:00, 6187.27it/s]
word tokenize process: 100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 18118/18118 [20:55<00:00, 14.44it/s]
Remove stop word: 100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 18118/18118 [00:11<00:00, 1645.44it/s]

In [115]:
tweets_5 = pre_processing(list(df_worry_1['tweet']))

Processing tweets:: 100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 1147/1147 [00:00<00:00, 2621.87it/s]
word tokenize process: 100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 1147/1147 [01:29<00:00, 12.79it/s]
Remove stop word: 100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 1147/1147 [00:01<00:00, 1116.62it/s]

In [126]:
tweets_6 = pre_processing(list(df_neutral['tweet']))

Processing tweets:: 100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 18252/18252 [00:01<00:00, 9268.38it/s]
word tokenize process: 100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 18252/18252 [1:06:13<00:00,  4.59it/s]
Remove stop word: 100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 18252/18252 [00:13<00:00, 1370.04it/s]

In [117]:
tweets_7 = pre_processing(list(df_happy['tweet']))

Processing tweets:: 100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 18631/18631 [00:04<00:00, 3784.61it/s]
word tokenize process: 100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 18631/18631 [27:33<00:00, 11.27it/s]
Remove stop word: 100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 18631/18631 [00:07<00:00, 2456.89it/s]

In [118]:
df_tweets = pd.DataFrame({'tweets':tweets, 'emotion': df_worry['sentiment']})
df_tweets['emotion'] = df_tweets['emotion'].replace('fear', 'worry')

In [119]:
df_tweets_2 = pd.DataFrame({'tweets':tweets_2, 'emotion': df_worry_2['sentiment']})
df_tweets_2['emotion'] = df_tweets_2['emotion'].replace('fear', 'worry')

In [127]:
df_tweets_3 = pd.DataFrame({'tweets':tweets_3, 'emotion': df_love['sentiment']})
df_tweets_4 = pd.DataFrame({'tweets':tweets_4, 'emotion': df_sad['sentiment']})
df_tweets_5 = pd.DataFrame({'tweets':tweets_5, 'emotion': df_worry_1['sentiment']})
df_tweets_6 = pd.DataFrame({'tweets':tweets_6, 'emotion': df_neutral['sentiment']})
df_tweets_7 = pd.DataFrame({'tweets':tweets_7, 'emotion': df_happy['sentiment']})

In [128]:
dataset_emotion = pd.concat([tweet_processed, content_processed, df_tweets, df_tweets_2, df_tweets_3, df_tweets_4, df_tweets_5, df_tweets_6, df_tweets_7])
dataset_emotion

                                                  tweets    emotion
1        [layin, n, bed, headache, ughhhh, waitin, call]    sadness
2                    [funeral, ceremony, gloomy, friday]    sadness
3                           [wants, hang, friends, soon]  happiness
4          [want, trade, someone, houston, tickets, one]    neutral
5             [pinging, go, prom, bc, bf, like, friends]      worry
...                                                  ...        ...
19994  [absolute, legends, happy, worldmilkday, amazi...  happiness
19995  [happy, paperback, publication, day, lucy, loo...  happiness
19996        [happy, birthday, practicing, today, honor]  happiness
19997  [good, afternoon, apologize, wifi, trouble, ex...  happiness
19999                          [happy, birthday, dorian]  happiness

[155766 rows x 2 columns]

In [129]:
dataset_emotion = dataset_emotion.reset_index(drop=True)
dataset_emotion['processed'] = dataset_emotion['tweets'].apply(lambda x: ' '.join(map(str,x)))
dataset_emotion.rename(columns={'tweets': 'tokenized_tweets'}, inplace=True)
dataset_emotion

,tokenized_tweets,emotion,processed
0,"[layin, n, bed, headache, ughhhh, waitin, call]",sadness,layin n bed headache ughhhh waitin call
1,"[funeral, ceremony, gloomy, friday]",sadness,funeral ceremony gloomy friday
2,"[wants, hang, friends, soon]",happiness,wants hang friends soon
3,"[want, trade, someone, houston, tickets, one]",neutral,want trade someone houston tickets one
4,"[pinging, go, prom, bc, bf, like, friends]",worry,pinging go prom bc bf like friends
...,...,...,...
155761,"[absolute, legends, happy, worldmilkday, amazi...",happiness,absolute legends happy worldmilkday amazing da...
155762,"[happy, paperback, publication, day, lucy, loo...",happiness,happy paperback publication day lucy look pret...
155763,"[happy, birthday, practicing, today, honor]",happiness,happy birthday practicing today honor
155764,"[good, afternoon, apologize, wifi, trouble, ex...",happiness,good afternoon apologize wifi trouble experien...
155765,"[happy, birthday, dorian]",happiness,happy birthday dorian

In [130]:
dataset_emotion["emotion"].value_counts()

happiness    35371
sadness      33208
worry        31944
neutral      26746
love         25171
surprise      2179
fear          1147
Name: emotion, dtype: int64

In [134]:
dataset_emotion = dataset_emotion[dataset_emotion['emotion'] != 'surprise']
dataset_emotion = dataset_emotion[dataset_emotion['emotion'] != 'fear']

In [135]:
dataset_emotion["emotion"].value_counts()

happiness    35371
sadness      33208
worry        31944
neutral      26746
love         25171
Name: emotion, dtype: int64

In [136]:
with open('dataset_emotion_preprocessed_augmented.pickle', 'wb') as f:
   pickle.dump(dataset_emotion, f)

In [26]:
with open('dataset_emotion_preprocessed.pickle', 'rb') as f:
   dataset_emotion = pickle.load(f)

In [27]:
dataset_emotion

,tokenized_tweets,emotion,processed
0,"[layin, n, bed, headache, ughhhh, waitin, call]",sadness,layin n bed headache ughhhh waitin call
1,"[funeral, ceremony, gloomy, friday]",sadness,funeral ceremony gloomy friday
2,"[wants, hang, friends, soon]",happiness,wants hang friends soon
3,"[want, trade, someone, houston, tickets, one]",neutral,want trade someone houston tickets one
4,"[pinging, go, prom, bc, bf, like, friends]",worry,pinging go prom bc bf like friends
...,...,...,...
58958,"[brief, time, beanbag, said, anna, feel, like,...",sadness,brief time beanbag said anna feel like beaten
58959,"[turning, feel, pathetic, still, waiting, tabl...",sadness,turning feel pathetic still waiting tables sub...
58960,"[feel, strong, good, overall]",happiness,feel strong good overall
58961,"[feel, like, rude, comment, im, glad]",sadness,feel like rude comment im glad
58962,"[know, lot, feel, stupid, portray]",sadness,know lot feel stupid portray