In [4]:
import pandas as pd
from pre_processing import pre_processing

In [5]:
df = pd.read_csv('tweet_emotions.csv', delimiter=',')
df['sentiment'] = df['sentiment'].apply(lambda x : x if x in ['happiness', 'sadness', 'worry', 'neutral', 'love'] else "other") 
df = df.drop('tweet_id', axis=1)
#tweets = pre_processing(list(df['content']))
#print(tweets)

In [ ]:
"""import pickle

with open('tweet_preprocessed.sav', 'wb') as f:
   pickle.dump(tweets, f)"""

In [2]:
import pickle

with open('tweet_preprocessed.sav', 'rb') as f:
   tweets = pickle.load(f)

In [6]:
df_tweets = pd.DataFrame({'tweets':tweets, 'emotion': df['sentiment']})
df_tweets

                                                  tweets    emotion
0      [know, listenin, bad, habit, earlier, started,...      other
1        [layin, n, bed, headache, ughhhh, waitin, call]    sadness
2                    [funeral, ceremony, gloomy, friday]    sadness
3                           [wants, hang, friends, soon]      other
4          [want, trade, someone, houston, tickets, one]    neutral
...                                                  ...        ...
39995                                                 []    neutral
39996                        [happy, mothers, day, love]       love
39997  [happy, mother, day, mommies, woman, man, long...       love
39998  [wassyoup, beayoutifyoul, follow, peep, oyout,...  happiness
39999  [bullet, train, tokyo, gf, visiting, japan, si...       love

[40000 rows x 2 columns]

In [8]:
df_tweets = df_tweets[df_tweets['tweets'].str.len() != 0]
df_tweets

                                                  tweets    emotion
0      [know, listenin, bad, habit, earlier, started,...      other
1        [layin, n, bed, headache, ughhhh, waitin, call]    sadness
2                    [funeral, ceremony, gloomy, friday]    sadness
3                           [wants, hang, friends, soon]      other
4          [want, trade, someone, houston, tickets, one]    neutral
...                                                  ...        ...
39994                    [succesfully, following, tayla]  happiness
39996                        [happy, mothers, day, love]       love
39997  [happy, mother, day, mommies, woman, man, long...       love
39998  [wassyoup, beayoutifyoul, follow, peep, oyout,...  happiness
39999  [bullet, train, tokyo, gf, visiting, japan, si...       love

[39770 rows x 2 columns]

In [9]:
with open('df_preprocessed_1.sav', 'wb') as f:
   pickle.dump(df_tweets, f)